// Mixins

// ------------------------------
// Screen breakpoints
// ------------------------------
@mixin respond-to($media) {
  // Primary breakpoints
  @if $media == sm {
    /* Small devices (tablets, 768px and up) */
    @media screen and (min-width: $screen-width-sm + px) {
      @content;
    }
  }
  @else if $media == md {
    /* Medium devices (desktops, 1024px and up) */
    @media screen and (min-width: $screen-width-md + px) {
      @content;
    }
  }
  @else if $media == lg {
    /* Large devices (large desktops, 1280px and up) */
    @media screen and (min-width: $screen-width-lg + px) {
      @content;
    }
  }

  // New breakpoints for AT re-designs
  @else if $media == xsmall {
    /* Extra small devices (360px and up) */
    @media screen and (min-width: $screen-width-xxs + px) {
      @content;
    }
  }
  @else if $media == standard {
    // Standard desktops (1366px and up)
    @media screen and (min-width: $screen-width-standard + px) {
      @content;
    }
  }
  @else if $media == big {
    // Big desktops (1680px and up)
    @media screen and (min-width: $screen-width-big + px) {
      @content;
    }
  }

  // Secondary breakpoints (to be avoided unless required to fix specific issues)
  @else if $media == xs {
    /* Small devices (mobiles, 767px and down) */
    @media screen and (max-width: ($screen-width-sm - 1) + px) {
      @content;
    }
  }
  @else if $media == xxs {
    /* Extra small devices (small mobiles, 374px and down) */
    @media screen and (max-width: $screen-width-xs + px) {
      @content;
    }
  }
  @else if $media == xlg {
    /* Large devices (large desktops, 1440px and up) */
    @media screen and (min-width: $screen-width-xlg + px) {
      @content;
    }
  }
  @else if $media == smmd {
    /* Custom md devices (between 768px and 1190px) */
    @media screen and (min-width: $screen-width-md + px) and (max-width: $screen-width-xslg + px) {
      @content;
    }
  }
  @else if $media == ssmlg {
    /* Custom lg devices (smaller desktop devices) (between 1275px and 1385) */
    @media screen and (min-width: $screen-width-ssmlg-min + px) and (max-width: $screen-width-ssmlg-max + px) {
      @content;
    }
  }
  @else if $media == smlg {
    /* Custom lg devices (between 1280px and 1440px) */
    @media screen and (min-width: $screen-width-lg + px) and (max-width: $screen-width-xlg + px) {
      @content;
    }
  }
  @else if $media == xslg {
    /* Custom lg devices (between 1280px and 1300px) */
    @media screen and (min-width: $screen-width-lg + px) and (max-width: $screen-width-smlg + px) {
      @content;
    }
  }
  // Custom breakpoints to fix hidden ads on the rhc.
  @else if $media == sclg {
    /* Required because webkit and blink report width differently. */
    @media screen and (min-width: $screen-width-sclg + px) {
      @content;
    }
  }

  // Custom breakpoints for desktop sell flow.
  @else if $media == clg {
    /* custom large device (1365px) fixes clipping issues */
    @media screen and (min-width: $screen-width-clg + px) {
      @content;
    }
  }
  @else if $media == bmd {
    /* custom medium device (992px) fixes scaling issues */
    @media screen and (min-width: $screen-width-bmd + px) {
      @content;
    }
  }
  @else if $media == ixs {
    /* custom medium device (480px) fixes scaling issues on imageCarousel */
    @media screen and (max-width: $screen-width-ixs + px) {
      @content;
    }
  }
  @else if $media == amd {
    /* alternative medium breakpoint to solve cg header issue on ipads (min-width 1028 and up) */
    @media screen and (min-width: $screen-width-amd + px) {
      @content;
    }
  }
}

// ------------------------------
// Breakpoints
// ------------------------------

/* Primary breakpoints */

// Small screen / tablet portrait
$screen-width-sm: 768;
// Medium screen / tablet landscape
$screen-width-md: 1024;
// Small screen / desktop
$screen-width-ssmlg-min: 1275;
$screen-width-ssmlg-max: 1395;
// Large screen / desktop
$screen-width-lg: 1280;

/* Secondary breakpoints */

// Extra small screen / small mobile
$screen-width-xs: 374;

// small screen / small mobile height
$screen-height-sm: 411;

$screen-width-xslg: 1190;
$screen-width-smlg: 1300;

// Extra extra small screen
$screen-width-xxs: 360;

// Extra large screen > 1440
$screen-width-xlg: 1440;

// Standard desktop screen > 1366
$screen-width-standard: 1366;

// Big desktop screen > 1680
$screen-width-big: 1680;

/* Specific breakpoints */

// Solves clipping issues on alt-desktop layout between 992 and 1365;
$screen-width-clg: 1365;

// Solve for blink browser ignoring scrollbars and webkit including them in media queries
$screen-width-sclg: 1350;

// Solves scaling issues because of bootstrap-4-grid md breakpoint;
$screen-width-bmd: 992;

// Solves croppping issue on imageCarousel on inbetween screensizes
$screen-width-ixs: 480;

// Solves header issue for cg on ipads
$screen-width-amd: 1028;