.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(20,55,125,.15);
  transition: all .5s;
  &:hover {
    box-shadow: 0 5px 10px 5px rgba(20,55,125,.25);
  }
  .details_box {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(2, 40px);
    grid-template-areas:
      'title_name name'
      'title_type types';
    align-items: center;
    padding: 10px;
    border-top: 1px solid #eeeeee;
    .title_name, .title_types {
      font-size: 14px;
      font-weight: 500;
    }
    .types {
      display: flex;
      font-size: 14px;
    }
    .name {

    }
  }
  .image_box {
    background-color: rgb(254, 255, 239);
    padding: 10px;
    max-width: 100%;
    min-height: 200px;
    min-width: 200px;
    .image {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
}