.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background: white;
  border-bottom: 2px solid #eeeff5;
  
  .logo {
    height: 60px;
  }

  .nav_item_container {
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
  
  .nav_item {
    padding: 0 20px;
    @media only screen and (max-width: 600px) {
      body {
        background-color: lightblue;
      }
    }
  }
  
  .nav_item:hover {
    cursor: pointer;
  }
}